{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block menu %}
    <span class="label">
        <span class="icon">{{ source('@DdrActivityPubCore/logo_profiler.svg') }}</span>
        <strong>ActivityPub</strong>
    </span>
{% endblock menu %}

{% block panel %}
    <h2>ActivityPub</h2>

    {{ dump(collector.data) }}
{% endblock panel %}
